.register,
.login {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .form-container,
.register .form-container {
  padding: 25px;
  border-radius: 10px;
  width: 600px;
  background: white;
}
