* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

// FONTS
body {
  background: $primary;
  font-family: "Rubik", sans-serif;
  line-height: 1.45;
}

p,
span {
  font-size: 17px;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.15;
  margin-bottom: 15px;
}

h1 {
  margin-top: 0;
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}
